@model List<Customer>
@{
    ViewBag.Tixtle = "Customer List";
}
<h1>List of customers</h1>
<table class="table table-hover">
    <thead class=" table-dark">
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody class="table-warning">
        
            @foreach (var customer in Model)
            {
                <tr>
                <td><a asp-controller="Customer" asp-action="Details" asp-route-Id="@customer.Id">@customer.Name</a> </td>
            </tr>
            }
    </tbody>
</table>
